/*Creamos a axenda en dúas columnas*/
.vista-axenda{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*Engadimos separación a o titulo e o poñemos no medio das columnas*/
header{
    text-align: center;
    margin-bottom: 15px;
}
/*Letra máis grande ao titulo, para difernciarse bien*/
h1{
    font-size:xx-large;
}

p,h1,h2,h3{
    font-family: Verdana, Geneva, sans-serif;
}
/*Aqui damos estilo as duas columnas (bordes,espacio interno,externo...)*/
.contedor-principal{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 0 15px 15px 15px;
    background-color: rgb(103, 212, 212);
    height: 800px; /*Fixamos o tamaño*/
}
/*Aquí damos a estilo a cada sección por separado para que compartan estilos pero non parezcan co estilo un solo bloque*/
#formulario-seccion,#listaxe-seccion{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 0 15px 15px 15px;
    background-color: white;
    height:650px; /*Fixamos o tamaño*/
}
/*Estilo as caixas nas que se introducen texto*/
input{
    width: 80%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

/*Estilo para o formulario enteiro (input,label,button...)*/
#formulario-contactos {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: center;
}
/*Estilo para os titulos dos inputs para que sexan lexibles e evitar saturación visual*/
#formulario-contactos label {
    justify-self: end;
    padding-right: 8px;
    margin: 15px;
}

/*Estilo compartido entre as caixas nas que se introducen texto e a caixa de comentarios */
#formulario-contactos input,
#formulario-contactos textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

/*Estilo especifico da caixa de comentarios*/
#formulario-contactos textarea {
    min-height: 120px;/*Fixamos a altura minimo*/
    grid-column: 2 / 3; /*Espacio que ocupan nas columnas do formulario (#formulario-contactos)*/
}

/*Estilo dos botóns*/
#formulario-contactos button {
    margin-top: 6px;
    justify-content: center;
    border:1px solid #ccc;
    border-radius:5px;
    padding:15px;
    width: 100%;
    grid-column: 2 / 3; /*Espacio que ocupan nas columnas do formulario (#formulario-contactos)*/

}
