body {
    background-color: black;
    color: whitesmoke;
    font-family: "Bebas Neue", sans-serif;
}

header {
    margin-left: 30px;
}

ol {
    font-size: 25px;
    margin-top: 50px;
}

button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 100px;
    border-radius: 10px;
    padding: 5px 3px;
    font-family: "Bebas Neue", sans-serif;
    display: inline-block;
    gap: 50px;
}

button:hover {
    cursor: pointer;
}

button img {
    height: 25px;
}

footer {
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
}



.logo {
    height: 70px;
}

#inicio {
    letter-spacing: 3px;
    text-align: center;
}

#inicio h1 {
    font-size: xxx-large;

}

#inicio h2 {
    font-size: x-large;
    font-style: italic;
}

#cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

}

#Portada {
    height: 450px;

}

#criticas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#criticas h3 {
    text-align:center;
    font-size: 25px;
        letter-spacing: 1px;
}

.valoracion {
    margin: 15px;
    font-style: italic;
}

.checked {
    color: orange;
}


#compra {
    font-size: 25px;
    letter-spacing: 1px;
    gap: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spotify {
    text-decoration: green;
}

#Online {
    background-color: rgb(204, 204, 2);
}

#Spotify {
    background-color: #1DB954;
}

#AppleMusic {
    background-color: #FA2D48;
}

