body {
    font-family: Arial, sans-serif;
}
table{
    border:1px solid;
}
p {
    font-weight: 600;
}

h1 {
    color: #a7a7a7;
}

.intro {
    width: 80%;
}

section {
    margin: 20px;
    padding: 10px;
}

#contenido1 {
    background-color: lightgray;
}

#contenido2 {
    background-color: rgb(250, 250, 250, 1);
}

@media screen and (max-width: 600px){
    body {
        background: pink;
    }
}

img {
    resize:inherit;
}
