body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #fff;
    color: #333;
}

#saida {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid gray;
}