/*tipografía para textos no titulos: p,li...*/
@font-face {
    font-family: sanseriffic;
    src: url(font/sanseriffic.otf);
}

/*tipografía para textos titulos: h1...*/
@font-face {
    font-family: bacalisties;
    src: url(font/bacalisties.ttf);
}

/*Colores predefinidos*/
:root {
    --titulos: #6b2542;
    --color-texto: #999999;
    --fondo: #ffffff;

    --full-width: 686px;
    --wrapper-width: 642px;

    --tamano-fuente: 0.8em;
}

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Empezamos etiquetas*/
body {
    width: var(--full-width);
    margin: 0 auto;
    background-color: var(--fondo);
    background-image: url(img/rounded.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 900px;
}

p,
li {
    font-family: sanseriffic, sans-serif;
    font-size: var(--tamano-fuente);
    text-align: justify;
    color: var(--color-texto);
    margin-top: 15px;
    line-height: 125%;
    /*El interliniado se modifica con line-height (altura de linea) (ej. 125%)*/
}

li {
    list-style-type: none;
}

h3 {
    font-family: bacalisties, sans-serif;
    font-size: 150%;
    color: var(--titulos);
    margin-top: 25px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(img/orchid.jpg);
    background-size: contain;
    /*muestra la imagen completa en el espacio disponible*/
    padding-left: 50px;
}


a {
    color: var(--titulos);
    text-decoration: none;
}

aside.sidebar h3 {
    background-image: none;
    padding: 0;
    font-family: sanseriffic, sans-serif;
    font-size: 100%;
    color: var(--color-texto);
    text-transform: uppercase;
    /*Para poner en mayusculas*/
    letter-spacing: 10%;
    /*Espacio entre letras (tamaño en relativo)*/
}


a:hover {
    color: var(--color-texto);
    text-decoration: underline;
}

div.page-wrapper {
    width: var(--wrapper-width);
    margin: 100px auto;
    background-position: top;
    background-repeat: no-repeat;
}

section#zen-intro {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(img/header.jpg);
}

div#zen-summary p {
    padding-top: 275px;
    padding-bottom: 125px;
    padding-left: 295px;
}

div#zen-summary p::before {
    content: "\02295";
}

header {
    display: none;
}

div#zen-summary p:first-child {
    display: none;
}

footer {
    margin-top: 50px;
}

footer a {
    font-family: sanserrific, sans-serif;
    border: 1px solid #eeeeee;
    padding: 5px;
    ;
}

footer a:hover {
    background-color: #eeeeee;
    text-decoration: none;
}

aside li {
    border-bottom: 1px dotted var(--color-texto);
}

.design-name {
    display: block;
    font-weight: bold;
}

/*Deseño con grid*/
div.page-wrapper {
    display: grid;
    grid-template-areas: "summary summary summary" "preamble preamble sidebar" "supporting supporting sidebar";
    column-gap: 5%;
}

/*Definición de las areas*/

#zen-summary {
    grid-area: summary;
}

#zen-preamble {
    grid-area: preamble;
}

#zen-supporting {
    grid-area: supporting;
}

.sidebar {
    grid-area: sidebar;
}

section#zen-intro {
    display: contents;
}

#zen-summary {
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
}

#zen-resources::after {
    content: "";
    display: block;
    /*/width: 100%;no hace falta al ser de bloque, toma el 100% */
    height: 200px;
    background-image: url(img/orchid.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
}