/*Carlos Martínez López*/
main{
    width: 850px;
    border-style: solid;
    background-image: url('imgs/background_trans20.png');
}

body{
    text-align: center;

}


img{
    min-height:100%;
    max-width: 500px;
}

.inner{
    overflow: hidden;
    width:250px;
    height:250px;
}
#album{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#main_end{
    float: none;
    clear: both; /*Para cuando una caja esta llena de objetos que flotan,
    tienes que poner uno vacío que no flote para que cubra el fondo*/
}
