@page {
    size: A5 booklet;
    margin: 1.5cm 2cm;
    @bottom-center { content: "- " counter(page) " -"; }
}

@page :right {
    @top-right {
        content: "Lo que aletea nuestras cabezas";
    }
}

@page :left {
    @top-left {
        content: "Lo que aletea nuestras cabezas";
    }
}

@page:first{
    @bottom-center{content: "";}
}

header nav,
aside,
footer,
#resto_discos,
#discografia h2 {
    display: none;
}

header h1 {
    content: url(imgs/logo-robe.svg);
    filter: invert(100%);
    margin-left: 490px;
    color: #141a29;

}


#discografia h3 {
    font-size: xx-large;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #141a29;
}



#disco {
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

h4 {
    break-before: page;
    text-align: start;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid #141a29;
    color: #141a29;
}


ul {
    list-style: none;
}

.estrofa {
    text-align: left;
    column-count: 2;
    column-gap: 1cm;
    white-space: pre-line;
    column-fill: auto;
    break-inside: avoid;
}
