/*Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da páxina */

body {
    font-family: arial;
    background-color: antiquewhite;
    padding: 40px;
    color: black;
}

/*Titulo principal*/

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(2, 2, 69);
}

/*Estilos do formulario */

form {
    background-color: white;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    /*Centrase horizontalemente: 0 arriba/abajo, auto izq/der */
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    display: flex;
    flex-direction: column;
    gap:05rem;
}

/*Campos de entrada, select */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

input[type="submit"]{
    background-color: darkblue;
    color: wheat;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    width: 100%;
    font-weight: bold;
}

input[type="submit"]:hover{
background-color: blue;}

/*Páragrafos */
p{
    font-weight: bold;
}
/*Etiquetas */
label{
    font-weight: bold;
}

