/*Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da páxina*/

body{
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #636363;
    color: black;
}

/*Cabeceira e pe de paxina*/

header,footer{
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 36px 10px 39px 7px rgba(0,0,0,0.75);
}

/*Seccións*/

section{
    margin-bottom: 2rem;
}

/*Elementos multimedia*/

video,audio{
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}