/* Reset CSS para mellorar a compatiblidade */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo xeral do corpo da paxina */
body{
    font-family :sans-serif;
    line-height: 1.6;
    background-color:aliceblue;
    color: black;
    padding: 20px;
}

/* Estilos da cabeceira */
header{
    background-color: black;
    color: beige;
    padding: 20px;
    text-align: 20px;
}

/* Estilos do menú de navegación */

nav{
    background-color: wheat;
    margin: 10px 0;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

/* Estilos do contido principal */

main{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}

/* Estilos do contido lateral */

aside{
    width: 30%;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 5px;
}

/* Estilos do artigo */

article{
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

article img{
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Estilos do pé de paxina */

footer{
    text-align: center;
    padding: 15px;
    background-color:blanchedalmond;
    color: white;
    border-radius: 5px;
}