/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da páxina */

body{
    font-family: sans-serif;
    padding: 2rem;
    background-color:rgb(252, 238, 221);
}

/*Contedor*/

.contedor{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; /*Permitir que as tarxetas salten automaticamente á liña seguinte no caso de non caber*/
}

/*Tarxeta*/

.tarxeta{
    background-color: bisque;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex:1 1 200px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0,0, 0.1);
}