/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da páxina */

body{
    font-family: sans-serif;
    padding: 2rem;
    background-color:rgb(252, 238, 221);
    line-height: 1.6;
}

/*Contedor Grid*/

.contedor{
    display: grid; /*Definimos patrón de areas nomeadas que determinararan a posicion dos elementos na cuadricula*/
    grid-template-areas: 
    "cabeceira cabeceira"
    "menu contido"
    "lateral contido"
    "pe pe";
    grid-template-columns: 1fr 3fr;/*A segunda columna é tres veces mais ancha que a primeira*/
    grid-template-rows: auto;/*A altura das filas adáptase automaticamente ao contido*/
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

.cabeceira{
    grid-area:cabeceira;/*Asociase coa area cabeceira definida en grid-template-areas*/
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
    text-align: center;
}

.menu{
    grid-area:menu;
    background-color: #f0f0f0;
}

.menu ul{
    list-style: none;
}

.menu a{
    display: block;
    padding: 0.5rem 0;
    color:black;
    text-decoration: none;
    margin: 1rem;
}

menu a:hover{
    text-decoration: underline;
}
.contido{
    grid-area:contido;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 8px, rgb(252, 238, 221);
}
.lateral{
    grid-area:lateral;
    background-color: azure;
    padding: 1rem;
}
.pe{
    grid-area:pe;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
    text-align: center;
}