body {
    background-color: rgb(0, 51, 110);
}

p,
h1,
h2,
h3,
a,summary {
    font-family: 'Lora';
}

header {
    color: #FFFFFF;
    display: block;
    place-items: center;
    padding: 15px;
    margin-bottom: 15px;
}

main {
    background-color: #FFFFFF;
    margin: 10px;
    padding-top: 3px;
    padding-bottom: 50px;
}
.multiplesArticulos{
    margin-top: 80px;
}
header img {
    max-width: 250px;
    margin-top: 15px;
}

header a {
    display: flex;
    place-items: center;
}

nav {
    background-color: #D9D9D9;
    margin: 20px 15px;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section p,
a {
    font-size: larger;
}
p a{
    font-size: large;
}
article,
aside,
#campusImage {
    background-color: #D9D9D9;
    margin: 50px 15px;
    padding: 10px;
}

h2 {
    text-align: center;
}

.multiplesArticulos article {
    margin: 0px 15px;
}

.multiplesArticulos{
    padding: 15px;
}
 section{
    padding: 15px;
}

#introduction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    text-align: justify;
    max-height: 610px;
}

#introduction article {
    padding: 20px;
}


#campusImage {
    display: block;
    place-items: center;
    padding: 15px;
}

#campusImage img {
    width: 100%;
}

aside {
    text-align: center;
    padding-right: 20px;
}

aside h2 {
    text-align: center;
}

aside ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

aside a {
    color: purple;
    text-decoration: none;
}

aside li {
    margin: 9px;
}

footer p {
    color: #FFFFFF;
    margin: 20px;

}

footer img {
    max-width: 50px;
}

footer{
    display: flex;
    text-align: justify;
    align-items:center;
}

#imgFooter{
   display: flex;
   align-items: flex-end;
}

