@page {
    size: A4 portrait;
    margin: 2.5cm 3cm 2cm 3cm;
}

body {
    background-color:none !important;
    text-align: justify;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    break-before: page;
    break-inside: avoid;
}

h1 {
    font-size:25px;
    color: #99775C;
}

h2{
    font-size:xx-large;
}

a::after{
    content: "[[" attr(href) "]]";
}