body{
    font-family: sans-serif;
    margin: 2rem;
    background-color: #fff;
    color: #333;
}

#saida{
    margin-top: 20px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid gray;
}