body {
    font-family: arial;
    background-color:#FFFACD ;
    padding: 40px;
    color: black;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(50, 52, 95);
}


form {
    background-color: white;
    box-shadow: 0 0 10px whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    gap:50px;
    text-align:center;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
option,
select {
    width: 100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

input[type="submit"]{
    grid-column: span 2;
    background-color: #dad7c0;
    color: white;
    cursor:pointer;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover{
background-color: rgb(184, 186, 164);
}

header p{
    font-weight: bold;
}

label{
    font-weight: bold;
}

footer{
    font-weight: lighter;
    text-align: right;
    font-style: italic;
    background-image: linear-gradient(#FFFACD,rgb(255, 255, 255));
}


